.kraken/
node_modules/
reports/
results/compare_kraken/*
results/ghost3_kraken/*
results/ghost4_kraken/*
!results/README.md
!results/compare_kraken/README.md
!results/ghost3_kraken/README.md
!results/ghost4_kraken/README.md


